<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>833788371148-qhurubatcf3rpsbtt6h07kj9jmvd6ik3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.833788371148-qhurubatcf3rpsbtt6h07kj9jmvd6ik3</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>833788371148-3osq05cjh5fnvq8rk2pmqde7jgm4nvvp.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAFcWoB6lwpdT101k6RUl9JVkm3KHuupvU</string>
	<key>GCM_SENDER_ID</key>
	<string>833788371148</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>chat-app-a80e9</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-a80e9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:833788371148:ios:d5fd6c70b4b2cb9ae82269</string>
</dict>
</plist>